body {
  border-top-color: #c6e1ec;
}

a, h1, h2, h3, h4, h5, h6 {
  color: #007cc9;
}

a:hover, a:focus { color: #006cb0; }

.button.primary {
  background: #007cc9;
}

.button.primary:hover, .button.primary:focus {
  background: #006cb0;
}

.header-robot-1, .header-robot-2 {
  width: 145px !important;
  height: 234px;
  display: block;
  padding: 0 !important;
}
.header-robot-1 {
  margin: 60px 0 0 30px !important;
  background: url('../img/robots/header-1.png') no-repeat left bottom;
}
.header-robot-2 {
  margin: 60px 30px 0 0 !important;
  background: url('../img/robots/header-2.png') no-repeat right bottom;
}

.logo-strapline {
  margin: 0;
  padding: 0;
}

#logo {
  display: block;
  margin: 25px auto 45px auto;
  width: auto;
  height: auto;
}

.strapline {
  text-align: center;
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
}

#map {
  width: 100%; height: 650px;
}

#map img {
  max-width: none;
}

.infoBox {
  min-height: 160px;
  position: relative;
  border: 5px solid #c6e1ec;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.infoBox:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  margin-left: -10px;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #c6e1ec;
}
.infoBox .name {
  /*min-height: 50px;*/
  margin: 25px 0 5px 0;
  font-size: 19px;
  color: #017cc9;
  text-transform: capitalize;
  line-height: 1.3em;
}
.infoBox .date {
  font-size: 11px;
  font-style: italic;
}
.infoBox .city {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
  border-color: #007cc9;
}

#register {
  border-radius: 5px;
}

#register input {
  max-width: 357px;
  margin-bottom: 6px;
}

#register input[name="venue[postcode]"] {
  width: 177px;
}

#register select[name="region[code]"] {
  width: 199px;
}

#register h3 {
  margin-top: 0;
  margin-bottom: 1em;
  color: #222;
}

#register select {
  -webkit-font-smoothing: antialiased;
}