<footer class="o-footer">
  <div class="c-grid c-grid--v-top">
    <div class="c-col--3">
      <p class="o-footer__heading">Sobre</p>

      <ul class="o-footer__list">
        <li class="o-footer__list-item"><a href="#" class="o-footer__list-link">Sobre o Code Club</a></li>
        <li class="o-footer__list-item"><a href="#" class="o-footer__list-link">Se tornando um voluntário</a></li>
        <li class="o-footer__list-item"><a href="#" class="o-footer__list-link">Se tornando um Club Leader</a></li>
        <li class="o-footer__list-item"><a href="#" class="o-footer__list-link">Criando um Code Club</a></li>        
      </ul>
    </div>

    <div class="c-col--3">
      <p class="o-footer__heading">Apóie o Code Club</p>

      <ul class="o-footer__list">
        <li class="o-footer__list-item"><a href="/doacoes" class="o-footer__list-link">Doações</a></li>
        <li class="o-footer__list-item"><a href="/lojinha" class="o-footer__list-link">Lojinha</a></li>
      </ul>
    </div>

    <div class="c-col--3">
      <p class="o-footer__heading">Ajuda</p>

      <ul class="o-footer__list">
        <li class="o-footer__list-item"><a href="#" class="o-footer__list-link">FAQ</a></li>
        <li class="o-footer__list-item"><a href="#" class="o-footer__list-link">Termo de Serviço</a></li>
      </ul>
    </div>

    <div class="c-col--3">
      <p class="o-footer__heading">Links Úteis</p>

      <ul class="o-footer__list">
        <li class="o-footer__list-item"><a href="#" class="o-footer__list-link">Site de Voluntários Code Club Brasil</a></li>
        <li class="o-footer__list-item"><a href="https://www.codeclubworld.org/" class="o-footer__list-link">Code Club World</a></li>
        <li class="o-footer__list-item"><a href="http://scratch.mit.edu/scratch2download/" class="o-footer__list-link">Download Scrach 2</a></li>
      </ul>
    </div>

    <div class="c-col--9">
      © Code Club World Limited 2012–2016.
      All Rights Reserved.<br>
      Company No. 081440247.
    </div>

    <div class="c-col--3">
      <ul class="o-footer__social-list">
        <li class="o-footer__social-list-item">
          <a class="o-footer__social-list-link" target="_blank" href="https://www.facebook.com/CodeClubBrasil/" >
            <span class="c-icon c-icon--social-facebook c-icon--white"></span>
          </a>
        </li>

        <li class="o-footer__social-list-item">
          <a class="o-footer__social-list-link" target="_blank" href="https://twitter.com/CodeClubBrasil">
            <span class="c-icon c-icon--social-twitter c-icon--white"></span>
          </a>
        </li>

        <li class="o-footer__social-list-item">
          <a class="o-footer__social-list-link" target="_blank" href="https://www.youtube.com/c/codeclubbrasil">
            <span class="c-icon c-icon--social-youtube c-icon--white"></span>
          </a>
        </li>

        <li class="o-footer__social-list-item">
          <a class="o-footer__social-list-link" target="_blank" href="https://plus.google.com/+CodeclubbrasilOrg">
            <span class="c-icon c-icon--social-google c-icon--white"></span>
          </a>
        </li>
        
      </ul>
    </div>
  </div>
</footer>