<header class="o-nav">
  <div class="o-nav__container">
    <div class="c-logo">
      <a href="/" class="c-logo__link">
        <img alt="Code Club" class="c-logo__image" src="vendor/images/code-club-logo.svg">
        <div class="c-logo__appendix">Brasil</div>
      </a>
    </div>

    <input class="o-nav__toggle-input" id="off-canvas-nav-toggle-input" type="checkbox">
    <label class="o-nav__toggle-label" for="off-canvas-nav-toggle-input"><span></span></label>

    <nav class="o-nav__list-container">
      <ul class="o-nav__list">
        <li class="o-nav__item {% if page.title == 'Material' %}'active'{% endif %}"><a class="o-nav__link" href="/oquee">Sobre</a></li>
        <li class="o-nav__item"><a class="o-nav__link" href="/material">Material</a></li>
        <li class="o-nav__item"><a class="o-nav__link" href="/voluntariado">Voluntariado</a></li>
        <li class="o-nav__item"><a class="o-nav__link" href="/criar-um-clube">Criar um clube</a></li>
        <li class="o-nav__item"><a class="o-nav__link" href="/doacoes">Doações</a></li>
        <li class="o-nav__item"><a class="o-nav__link" href="/faq">FAQ</a></li>
        <li class="o-nav__item"><a class="o-nav__link" href="/contato">Contato</a></li>
      </ul>
    </nav>
  </div>
</header>