<!doctype html>
<!--[if lt IE 9]><html class="lte-ie8"><![endif]-->
<!--[if gt IE 8]><!--><html lang="pt-br"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Code Club Brasil{% if page.title != 'Home' %} | {{ page.title }}{% endif %}</title>
<meta property="og:description" content="Uma rede mundial de clubes de programação para crianças">

    <meta name="description" content="Uma rede mundial de clubes de programação para crianças">

    {% include open_graph_tags.html %}

    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.min.js"></script>
    <![endif]-->

    <script>
      document.write(
        '<link rel="stylesheet" ' +
        'href="//f.fontdeck.com/s/css/TFY2aUzEpRLcoEOhQR+42J6Ja8I/' +
        location.hostname +
        '/23203.css">'
      );
    </script>
    <link rel="stylesheet" href="/css/codeclubbrasil.css">
    
    <link rel="stylesheet" href="/css/application.css">

    <link rel="stylesheet" href="/css/style.css">


    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
  </head>
  <body class="{% if page.path == 'index.html' %}home{% else %}not-home{% endif %}">

    <div class="row">
      <div class="twelve columns">

        <header class="row header" role="banner">
          <nav class="twelve columns navigation" role="navigation" id="nav">
            <ul class="main-menu">
              <li {% if page.title == 'Home' %}class="active"{% endif %}>
                <a href="/">Home</a>
              </li>
              
             
              <li {% if page.title == 'Material' %}class="active"{% endif %}>
                <a href="/material">Material</a>
              </li>
             
              <li {% if page.title == 'O que é?' %}class="active"{% endif %}>
                <a href="/oquee">O que é?</a>
              </li>
              <li {% if page.title == 'Como criar um clube?' %}class="active"{% endif %}>
                <a href="/oquee/creating-a-club.html">Como criar um clube?</a>
              </li>
              <li {% if page.title == 'Contato' %}class="active"{% endif %}>
                <a href="/contato">Contato</a>
              </li>
            </ul>
          </nav>

          <hgroup class="twelve columns">
            <h1 id="logo">
              <a href="/">
              <img src="/img/logo-br.svg"
                   alt="Code Club World"
                   onerror="this.onerror=null; this.src='/img/logo-br.png'"
                   id="logo"
                   width="260">
              </a>
            </h1>
            <h2 class="nine centered columns">Uma rede mundial de clubes de programação para crianças</h2>
          </hgroup>
        </header>


      </div>
    </div>

    {{ content }}


    <footer class="footer" role="contentinfo">
      <div class="row"><hr></div>
      <div class="row">
<!--
        <div class="three columns">
          <div class="wrap">
            <h4>Donate</h4>

            <img src="/img/money.png" />

            <p>
              Help sustain the work of Code Club World.org
            </p>

            <a class="button secondary round" href="/support-us">Make a donation</a>
          </div>
        </div>

        <div class="three columns">
          <div class="wrap">
            <h4>Shop</h4>

            <img src="/img/shirts.png" />

            <p>
              Wear a Code Club World t-shirt in your own language!
            </p>

            <a class="button secondary round" href="http://codeclubworld.spreadshirt.co.uk/">Buy a t-shirt</a>
          </div>
        </div>

        <div class="three columns">
          <div class="wrap">
            <h4>Mailing list</h4>

            <img src="/img/mailing-list.png" />

            <p>
              Keep up to date with the latest news from Code Club World.org
            </p>

            <a class="button secondary round" href="http://codeclub.us4.list-manage1.com/subscribe?u=5a4a6510fb81ffcca91d938de&id=b98b3f8beb">Sign up to the mailing list</a>
          </div>
        </div>
-->
        <div class="twelve columns">
          <div class="row">
            <div class="four columns">
              <a href="https://twitter.com/codeclubbrasil" class="social-link">
                  <img alt="Twitter" height="35" src="http://www.codeclub.org.uk/system/files/032013/514af7939d200f0f4000001a/icon/twitter.png" width="35"> Twitter
                </a><a href="https://www.facebook.com/CodeClubBrasil" class="social-link">
                  <img alt="Facebook" height="35" src="http://www.codeclub.org.uk/system/files/032013/514af7919d200f0f300000c0/icon/facebook.png" width="35"> Facebook
                </a>
              
            </div>
          <div class="three columns">
              <div class="wrap">
                <p class="useful-links">
                   Links úeis<br>
                  <a href="http://scratch.mit.edu/scratch_1.4/">Baixe o Scratch 1.4</a><br>
                  <a href="https://github.com/codeclubbrasil">Code Club Brasil no Github</a><br>
                  <!--<a href="http://codeclub-assets.s3.amazonaws.com/public/CodeClubWorld-Terms-of-Service-v1-clean.pdf">Terms of Service</a><br>-->
                  <a href="http://codeclub.org.uk/">Code Club UK</a><br>
                  <a href="http://codeclubworld.org/">Code Club World</a><br>
                </p>
              </div>
              
          </div>

         
        </div>

         
        </div>


      </div>
    
      <div class="row">
        <p class="legal">
          Code Club World é uma organização sem fins lucrativos que dá a crianças a oportunidade de aprender a programar.<br>
          Companhia registrada no Reino Unido sob o número08140247 &copy; 2013<br>
          Ilustrações de <a href="http://www.timothywinchester.com/">Timothy Winchester</a> utilizados com sua autorização.
          Site original criado por <a href="http://withassociates.com">With Associates</a>.
          API desenvolvida por <a href="http://se.am/">Phil Howell</a>.
        </p>
      </div>
    </footer>

 
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40511561-2', 'codeclubbrasil.org');
  ga('send', 'pageview');

</script>
 

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/parsley.js/1.1.16/parsley.min.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="/js/libs/infobox.js"></script>
    <script src="/js/libs/jquery.serialize-hash.js"></script>
    <script src="/js/libs/marker-clusterer.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/app-br.js"></script>

  </body>
</html>
