<!DOCTYPE html>
    
<html lang="pt-br">
    <head  >
        <title></title>
<link rel="stylesheet" type="text/css" href="../codeclub.css">
        <meta charset="utf-8" />
            <script type="text/javascript" src="../jquery.min.js"></script>
            <script type="text/javascript" src="codeclub-style.js"></script>
        <link rel="stylesheet" type="text/css" href="../scratchblocks2/scratchblocks2.css">
    <script type="text/javascript" src="../scratchblocks2/scratchblocks2.js"></script>
    </head>
    <body>
<script type="text/javascript">



$(document).ready(function() {
	           applyCodeClubStyle();
            });
    </script>
    
    <!-- This will be replaced with your content -->
    {{ content }}



</body>
</html>
